@page
@model Elite_K9.Pages.Customers.EditModel
@{
}

<br />
<h2>Edit Customers</h2>

@if (Model.errorMessage.Length > 0)
{
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>@Model.errorMessage</strong>
            <button type="button" class="btn-close" 
        data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
}

<form method="POST">
    <input type="hidden" name="id" value="@Model.customerInfo.id" />
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">First Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control"
                   name="firstName" value="@Model.customerInfo.firstName" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Last Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control"
                   name="lastName" value="@Model.customerInfo.lastName" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Dog Breed</label>
        <div class="col-sm-6">
            <input type="text" class="form-control"
                   name="dogBreed" value="@Model.customerInfo.dogBreed" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Dog Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control"
                   name="dogName" value="@Model.customerInfo.dogName" />
        </div>
    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                        aria-label="Close"></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>